.ticker-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.ticker-wrap {
    width: 100%;
    overflow: hidden;
}

.ticker-move {
    display: inline-block;
    white-space: nowrap;
    animation: ticker 30s linear infinite;
}

.ticker-item {
    font-size: 0.9rem;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Pause on hover */
.ticker-container:hover .ticker-move {
    animation-play-state: paused;
}